<div class="card">
  <img src="/static/images/icon.webp" class="icon" />
  <div class="info">
    <p class="text titleLbl"> {{title}} </p>
    <p class="text"> {{author}} </p>
    <p class="text isbnLbl"> ISBN: {{ISBN}} </p>
  </div>
  <button class="remove"> X </button>
</div>